
connect4/trained_1024.zip
connect4/trained_256.zip
connect4/trained_768.zip
connect4/trained_768.zip
connect4/ok.py
connect4/modelX.zip
connect4/model_trainingX.ipynb
connect4/model_trainingX (1).ipynb
